<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>

<body>
    <h1 style="color: blue">Sample Text</h1>
    <form method="GET" action="/api/players/">
        <input type="submit" value="View Playerbase">
    </form>
    <p>A Henri Matisse painting</p>
    <img src="{{ url_for('static', filename='img/matisse.jpg') }}" alt="">
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>